.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 72px;
    z-index: 100;
    padding-top: 5px;
 
}
.sidebar-link { 
    height: 76px;
    margin-bottom: 1px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(235, 233, 233);
}
.sidebar-link img {
    height: 25px;
    margin-bottom: 4px;
}
.sidebar-link div {
    font-family: roboto,arial;
    font-size: 10px;
}